:root {
    --backgrount--color : #424242;

    --white--color: white;
    --red--color: #e53935;
    --lightred--color:#ffffff;
    --black--color: black;
    --blue--dark--color:#82b3c9;
    --lightblue--color:#eeffff;
    --pink--color:#ff80ab;
    --grey--color:#6d6d6d;
    --purple--color:#fff7ff;
    --indigo--color:#c5cae9;
    --lime--color:#f0f4c3;
    --darkbluegrey--color:#102027;
    --lightgrey--color:#efefef;
    --lightbrown--color:#efebe9;

    --newscontent--color:#8d8d8d;
    
    --font--large--size: 24px;
    --font--medium--size: 20px;
    --font--small--size: 16px;
    --font--boardtitle--size: 14px;
    --font--micro--size: 12px;

    --avatar--size: 120px;
    --padding--size: 12px;
    --chartpadding--size: 30px;
    --newspicture--size: 280px;
    --newspucturemini--size: 100px;
    --menupadding--size: 8px 12px;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding--size);
    background-color: var(--darkbluegrey--color);
}

a {
    text-decoration: none;
    color:var(--white--color);
}

header .logoAndname {
    display: flex;
}

header .logoAndname .logo {
    font-size: var(--font--large--size);
    color:var(--blue--dark--color);
}

header .logoAndname .name {
    display: flex;
    align-items: center;
    font-size: var(--font--medium--size);
    padding-left: 4px;
}


header .Btn {
    display: none;
    border: 0;
    outline: 0;
    background: none;
    color:var(--blue--dark--color);
    font-size: var(--font--medium--size);
}

.menu {
    display: flex;
    padding-right: 650px;
    list-style: none;
}

.menu li {
    padding: var(--menupadding--size);    
}

.menu li:hover {
    background-color: var(--blue--dark--color);
    border-radius: 4px;

}

.news .popular_chart {
    display: flex;
    justify-content: center;
}

.news {
    margin: 0 100px;
}


.news .popularnews {
    display: flex;
    justify-content: center;
    background-color: var(--lightgrey--color);
    padding: var(--padding--size);
    margin: 24px 0px 0px 20px;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 80px;
    padding-bottom: 30px;
    max-width: 10%;
    min-width: 10%;
    
}

.news .popularnews li a {
    color: var(--black--color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    width: 10em;
    line-break: anywhere;
    line-height: normal;
}

.news .popularnews .title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    width: 10em;
    line-break: anywhere;
    line-height: normal;
    margin-bottom: 5px;
}

.news .chart {
    margin-top: 24px;
    margin-left: 200px;
}

.news .board .right .picture img {
    width: var(--newspucturemini--size);
    height: var(--newspucturemini--size);
}

.board {
    display: flex;
    flex-direction: column;
    padding: var(--padding--size);
    margin-left: 4px;
    margin-top: 30px;
    
}

.board .boardtop,
.board .boardcenter,
.board .boardbottom {
    display: flex;
    margin-top: 5px;
}

.board .left {
    display: flex;
    flex-direction: column;
}

.board .newsname {
    font-size: var(--font--micro--size);
}

.board .left .title {
    font-weight: bold;
    font-size: var(--font--small--size);
    padding-top: 3px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-break: anywhere;
    line-height: normal;
}

.board .left .content {
    padding-top: 4px;
    color: var(--newscontent--color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-break: anywhere;
    line-height: normal;
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: var(--padding--size);
}

.pagination a {
    color: var(--black--color);
    padding: var(--padding--size);
}

@media screen and (max-width:768px) {

    header {
        display: flex;
        flex-direction: column;
        padding: var(--padding--size);
    }
    
    header .menu {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    header .menu li {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    header .Btn {
        position: absolute;
        right: 25px;
        display: block;
    }
    
    header .menu.active {
        display: flex;
    }

    .news {
        display: flex;
        padding: var(--padding--size);
        margin: 0;
    }

    .news .popularnews {
        display: flex;
        justify-content: center;
        background-color: var(--lightgrey--color);
        padding: var(--padding--size);
        margin: 24px 0px 0px 0px;
        padding-top: 40px;
        padding-left: 70px;
        padding-right: 80px;
        padding-bottom: 50px;
        max-width: 40%;
        min-width: 40%;
        
    }

    .news .popularnews li a {
        color: var(--black--color);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        width: 10em;
        line-break: anywhere;
        line-height: normal;
    }

    .news .popularnews .title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        width: 10em;
        line-break: anywhere;
        line-height: normal;
    }

    .news .board .right .picture img {
        width: var(--newspucturemini--size);
        height: var(--newspucturemini--size);
    }

    .news .popular_chart {
        width: 35%;
    }

    .board {
        display: flex;
        flex-direction: column;
        padding: var(--padding--size);
        margin-left: 4px;
        margin-top: 30px;
        
    }

    .board .boardtop,
    .board .boardcenter,
    .board .boardbottom {
        display: flex;
        margin-top: 5px;
    }

    .board .left {
        display: flex;
        flex-direction: column;
    }

    .board .newsname {
        font-size: var(--font--micro--size);
    }

    .board .left .title {
        font-weight: bold;
        font-size: var(--font--small--size);
        padding-top: 3px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        line-break: anywhere;
        line-height: normal;
    }

    .board .left .content {
        padding-top: 4px;
        color: var(--newscontent--color);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        line-break: anywhere;
        line-height: normal;
    }

    .pagination {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: var(--padding--size);
    }

    .pagination a {
        color: var(--black--color);
        padding: var(--padding--size);
    }

    .news .chart {
        display:none
    }


}